* {
    margin: 0px;
    padding: 0;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;
}
.left {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}
.rigth {
    width: 50%;
    height: 100%;
    background-color: beige;
}


.firstDivAndBlank{
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.firstDiv {
 height: 85%;
 width: 100%;
 display: flex;
 background-color: cadetblue;
}

.firstBlank {
 height: 15%;
 width: 100%;
 display: flex;
  background-color: aliceblue;
}

.blankTwoAndThreeDivs {
 height: 80%;
 width: 40%;
 display: flex;
 flex-wrap: wrap;
}

.secondDiv {
    height: 60%;
    width: 100%;
    display: flex;
    background-color: cadetblue;
}


.blank2 {
 width: 100%;
 height: 3%;
 display: flex;
 background-color: aliceblue;
}

.thirdDiv {
    height: 37%;
    width: 100%;
    display: flex;
    background-color: cadetblue;

}


.longTags {
 height: 80%;
 width: 60%;
 display: flex;
 flex-wrap: wrap;
}



.longBlank {
    height:100%;
    width: 5%;
    display: flex;
    background-color: aliceblue;
}

.longDiv {
    height: 100%;
    width:95%;
    display: flex;
    background-color: cadetblue;
}