* {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 100vw;
    height: 100vh;
    background-color: rosybrown;
    display: flex;
    flex-wrap: wrap;

}
.left {
    width: 50%;
    height: 100%;
    background-color: antiquewhite;
    display: flex;
    flex-wrap: wrap;
}
.right {
    width: 50%;
    height: 100%;
    background-color: beige;
    display: flex;
    flex-wrap: wrap;
}

.top {
    height: 50%;
    width: 50%;
    display: flex;
    flex-wrap: wrap;
}

.square1 {
    height:37%;
    width: 100%;
    background-color: pink;
    display: flex;
}


.blank {
    height: 5%;
    width: 100%;
    background-color: gray;
    display: flex;
}
.blankRight {
    height: 5%;
    width: 100%;
    background-color:  gray;
    display: flex;
}

.square2 {
    height: 22%;
    width: 100%;
    background-color: pink;
    display: flex;
}

.blank2 {
    height: 6%;
    width: 100%;
    background-color: gray;
    display: flex;
}

.square3 {
    height: 30%;
    width: 100%;
    background-color: pink;
    display: flex;
}

.longBlank {
    width: 5%;
    height: 50%;
}

.blank4 {
    height: 100%;
    width: 100%;
    background-color: gray;
}


.rightTop {
height: 50%;
width: 45%;
display: flex;  
flex-direction: column;
}
.thirdDivRigth {
    height: 30%;
    background-color: pink;
}
.lastDivFirstSectionRight {
    height: 25%;
    background-color: pink;
}

.square4 {
    height: 35%;
    width: 100%;
    background-color:  gray;
    display: flex;
}

.blank5 {
    height: 10%;
    width: 100%;
    background-color: cornflowerblue;
    display: flex;
}

.square5 {
    background-color: aquamarine;
    height: 35%;
    width: 95%;
}


.firstDivAndBlank{
    height: 20%;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.firstDiv {
 height: 85%;
 width: 100%;
 display: flex;
 background-color: cadetblue;
}

.firstBlank {
 height: 15%;
 width: 100%;
 display: flex;
  background-color: aliceblue;
}

.blankTwoAndThreeDivs {
 height: 80%;
 width: 40%;
 display: flex;
 flex-wrap: wrap;
}

.secondDiv {
    height: 60%;
    width: 100%;
    display: flex;
    background-color: cadetblue;
}


.blank22 {
 width: 100%;
 height: 3%;
 display: flex;
 background-color: aliceblue; /*  this one please  */
}

.thirdDiv {
    height: 37%;
    width: 100%;
    display: flex;
    background-color: cadetblue;

}


.longTags {
 height: 80%;
 width: 60%;
 display: flex;
 flex-wrap: wrap;
}



.longBlank1 {
    height:100%;
    width: 5%;
    display: flex;
    background-color: aliceblue;
}

.longDiv {
    height: 100%;
    width:95%;
    display: flex;
    background-color: cadetblue;
}

/* @media only screen and (max-width: 100%) {
    .right {
        display: grid;
        height: 100%;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 0.2fr 1.5fr  1.2fr 0.8fr;
        grid-template-areas: "square1 square1 square1 square1" "blank blank blank blank" "square2 square2 square2 square2" "blank2 blank2 blank2 blank2" "square3 square3 square3 square3 " "blank4 blank4 blank4 blank4"
         "square1 square1 square1 square1" "blankRight" "thirdDivRigth" "blankRight";
        grid-gap: 0.2rem;
        font-family: "Inter", sans-serif;
        font-weight: 800;
        text-transform: uppercase;
        font-size: 12px;
        color: aquamarine;
    }
} */
@media screen and (max-width: 480px) {
    .container {
        width: 100vw;
        height: 100vh;
        display: flex;
        flex-direction: column;

    } 
    .left{
        width: 100%;
        height: 50vh;
    }
   .right{
    width: 100vw;
    background-color: red;
    height: 50vh;
   }
   .top {
    display: flex;
    flex-direction: column;
    width: 100%;
   }

   .longBlank {
    width: 100%;
    height: 2vh;
    display: flex;
    flex-direction: column;
   }

   .rightTop {
    width: 100%;
    height: 50%;
    display: flex;
   }
  }

@media screen and (max-width: 768px) {
    .container {
        height: 100vh;
        width: 100vw;
        display: flex;
    }

    .left {
        width: 100%;
        height: 50vh;
        display: flex;
    }

    .right {
    width: 100vw;
    height: 50vh;
    }

    .top {
    display: flex;
    flex-direction: column;
    width: 100%;
    }

    .longBlank {
    width: 100%;
    height: 2vh;
    display: flex;
    flex-direction: column;
    }

    .rightTop {
    width: 100%;
    height: 50%;
    display: flex;
    }
}